<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Liste des candidats</h4>
                        <p class="card-category"> Ici c'est la liste des candidats inscrits sur la plateforme</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Code candidat
                                    </th>
                                    <th>
                                        Nom et prénom
                                    </th>
                                    <th>
                                        Adresse
                                    </th>
                                    <th>
                                        Score
                                    </th>
                                    <th>
                                        Observation
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Syrine BEN AHMED
                                        </td>
                                        <td>
                                            13, rue du Niger
                                        </td>
                                        <td>
                                            103
                                        </td>
                                        <td class="text-primary">
                                            Admis
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Syrine BEN AHMED
                                      </td>
                                      <td>
                                          13, rue du Niger
                                      </td>
                                      <td>
                                          103
                                      </td>
                                      <td class="text-primary">
                                          Admis
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Syrine BEN AHMED
                                      </td>
                                      <td>
                                          13, rue du Niger
                                      </td>
                                      <td>
                                          103
                                      </td>
                                      <td class="text-primary">
                                          Admis
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Syrine BEN AHMED
                                      </td>
                                      <td>
                                          13, rue du Niger
                                      </td>
                                      <td>
                                          103
                                      </td>
                                      <td class="text-primary">
                                          Admis
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Syrine BEN AHMED
                                      </td>
                                      <td>
                                          13, rue du Niger
                                      </td>
                                      <td>
                                          103
                                      </td>
                                      <td class="text-primary">
                                          Admis
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Syrine BEN AHMED
                                      </td>
                                      <td>
                                          13, rue du Niger
                                      </td>
                                      <td>
                                          103
                                      </td>
                                      <td class="text-primary">
                                          Admis
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  
